In [1]:
from tqdm import tqdm
import numpy as np
import pandas as pd
from newspaper import Article
import re
import nltk
import csv
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))

In [2]:
distinct_tables = pd.read_csv('../dataset/dataset_distinct_tables.csv', delimiter=',')
tables_url = pd.read_csv('../dataset/tables_urls.csv', delimiter=',')

In [7]:
distinct_tables.head(1)

,table_body,table_caption,table_header,table_id,table_page_title,table_section_title
0,the planet earth forms accretion disc revolvin...,hadean eon,date event,10029,timeline evolutionary history life,hadean eon

In [38]:
table_plus_urls = []

for i, row in tqdm(distinct_tables.iterrows()):
    
    table_id = row['table_id']
    table_page_title = row['table_page_title']
    table_section_title = row['table_section_title']
    table_caption = row['table_caption']
    table_header = row['table_header']
    table_body = row['table_body']
    
    #gettin the url
    rslt_df = tables_url.loc[tables_url['table_id'] == table_id] 
    
    for j, rowj in rslt_df.iterrows():
        
        table_url = rowj['table_url']
        
        break
    
    
    line = {"table_id":table_id,
            "table_page_title":table_page_title,
            "table_section_title":table_section_title,
            "table_caption":table_caption,
            "table_header":table_header,
            "table_body":table_body,
            "table_url":table_url  
           }
    
    table_plus_urls.append(line)

89935it [01:13, 1226.94it/s]

In [39]:
df_distinc_tables_plus_urls = pd.DataFrame(table_plus_urls)
df_distinc_tables_plus_urls.to_csv('distinct_tables_plus_url.csv',index=False)