In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
true_pairs = pd.read_csv('../train_data/true_pairs_by_cosine_070_title_main_passage_keywords.csv', delimiter=',')
false_pairs = pd.read_csv('../train_data/false_pairs_by_pands_title_main_passage_keywords.csv', delimiter=',')

In [5]:
true_pairs.head(1)

,article_id,article_keywords,article_meta_description,article_page_title,label,table_id,table_page_keywords,table_page_summary,table_page_title
0,5765329,recently surgery implants reality size shes ge...,reality star heidi montag recently sat talk ex...,heidi montag gets plastic surgery removes over...,1,5765329,later heidi second released television edit co...,montag came prominence cast mtv reality televi...,heidi montag

In [27]:
all_triple_signals = []

for i, row in tqdm(true_pairs.iterrows()):
    
    #article signals
    article_id = row['article_id']
    article_page_title = row['article_page_title']
    article_meta_description = row['article_meta_description']
    article_keywords = row['article_keywords']
    
    #true table signals
    true_table_id = row['table_id']
    true_table_page_title = row['table_page_title']
    true_table_page_summary = row['table_page_summary']
    true_table_page_keywords = row['table_page_keywords']
    
    #get the false table id using random seach
    sample_false_pairs = false_pairs.sample(10)
    
    for j,row_sample in sample_false_pairs.iterrows():
            
            false_table_id = row_sample['table_id']
            
            if article_id != false_table_id:
                
                false_table_id = row_sample['table_id']
                false_table_page_title = row_sample['table_page_title']
                false_table_page_summary = row_sample['table_page_summary']
                false_table_page_keywords = row_sample['table_page_keywords']
                
                break
    
    #constructing the triple signals
    
    row_triple_line = {
    "article_id":article_id,
    "article_page_title":article_page_title,
    "article_page_meta_description":article_meta_description,
    "article_page_keywords":article_keywords,
        
    "true_table_id":true_table_id,
    "true_table_page_title":true_table_page_title,
    "true_table_page_summary":true_table_page_summary,
    "true_table_page_keywords":true_table_page_keywords,
        
    "false_table_id":false_table_id,
    "false_table_page_title":false_table_page_title,
    "false_table_page_summary":false_table_page_summary,
    "false_table_page_keywords":false_table_page_keywords,
    }
    
    #saving
    all_triple_signals.append(row_triple_line)

94167it [24:34, 63.88it/s]

In [28]:
df_triple_signals = pd.DataFrame(all_triple_signals)

In [29]:
df_triple_signals.to_csv('train_true_false_pairs_encoders.csv',index=False)