In [9]:
from tqdm import tqdm
import numpy as np
import pandas as pd

import re
import nltk
import csv
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))

In [10]:
raw_data = pd.read_csv('TestCollectionTop100Bert.csv', delimiter=',', header=None, names=["News", "Table", "Match", "Score", "Rank"])

In [11]:
raw_data[0:1]

,News,Table,Match,Score,Rank
0,http://abc13.com/news/houston-rapper-killed-in...,https://en.wikipedia.org/wiki/List_of_murdered...,0,0.724686,1

In [2]:
raw_data = pd.read_csv('dataset_top100_bert.csv', delimiter=',')

In [ ]:
raw_data[0:1]

In [3]:
unique_articles = raw_data.article_url.unique()

In [4]:
total_articles = len(unique_articles)

In [ ]:
total_articles

In [ ]:
raw_data[0:15]

In [5]:
topk = 10

In [6]:
accuracy = []

def get_accuracy(current_dataframe):
    
    for i, row in current_dataframe.iterrows():
        
        if row['match'] == 1:
            
            accuracy.append(1)
    
    return accuracy

In [7]:
for i in tqdm(range(len(unique_articles))):
    
    current_article = unique_articles[i]
    
    rslt_df = raw_data[raw_data['article_url'] == current_article]
    
    accuracy = get_accuracy(rslt_df[0:topk])

100%|██████████| 1875/1875 [00:20<00:00, 90.26it/s]

In [8]:
result_top1 = len(accuracy)/total_articles
result_top1

0.7946666666666666

In [ ]:
print("acc@01 = 0.4512")
print("acc@05 = 0.7136")
print("acc@10 = 0.7946")
print("acc@20 = ")
print("acc@50 = ")
print("acc@100 = ")

In [ ]:
print("acc@01 = 0.4551")
print("acc@05 = 0.7263")
print("acc@10 = 0.8060")
print("acc@20 = 0.8616")
print("acc@50 = 0.9192")
print("acc@100 = 0.9453")