In [ ]:
import findspark
findspark.init('/home/lss9/anaconda3/lib/python3.7/site-packages/pyspark/')

In [ ]:
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
import re
from tqdm import tqdm

In [ ]:
sc = SparkContext()

In [ ]:
sqlContext = SQLContext(sc)

In [ ]:
data = sqlContext.read.json('/home/luciano/google/tables.json')

In [ ]:
data.printSchema()

In [ ]:
data.registerTempTable("tables")

This function removes the special characters from a string

In [ ]:
def clearString(text):
    
    text = re.sub('[^A-Za-z]+',' ',text)
    
    text = text.lstrip()
    
    text = text.rstrip()
    
    return text

getting the page ID, page title, section title and table caption from raw data

In [ ]:
returnSelect = sqlContext.sql("select pgId, pgTitle, sectionTitle, tableCaption from tables").collect()

In [ ]:
formattedTables = []

for row in tqdm(returnSelect):
    
    dataPgID = row.pgId
    dataPgTitle = row.pgTitle
    dataSectionTitle = row.sectionTitle
    dataTableCaption = str(row.tableCaption)
    
    #removing special characters
    dataPgTitle = clearString(dataPgTitle)
    dataSectionTitle = clearString(dataSectionTitle)
    dataTableCaption = clearString(dataTableCaption)
    
    formattedTables.append([dataPgID,dataPgTitle,dataSectionTitle,dataTableCaption])

In [ ]:
returnSelect = sqlContext.sql("select tableData from tables where pgId = 4194312").collect()

In [ ]:
tableText = []

for tablesRawData in tqdm(returnSelect):
    
    tableBody = ''
    
    tableRawData = tablesRawData.tableData
    
    for tableLines in tableRawData:
            
        tableRawColumns = tableLines
        
        for tableColumns in tableRawColumns:
            
            tableBody = tableBody +' '+ tableColumns.text
            
    tableBody = clearString(tableBody)
    
    tableText.append(tableBody)

In [ ]:
tableText

In [ ]:
returnSelect = sqlContext.sql("select tableHeaders from tables where pgID = 4194312").collect()

In [ ]:
tableHeaderData = []

for tablesHeaderRawData in tqdm(returnSelect):
    
    tableHeader = ''
    
    tablesHeaderRawData = tablesHeaderRawData.tableHeaders
    
    for tableHeaderLines in tablesHeaderRawData:
            
        tableHeaderRawColumns = tableHeaderLines
        
        for tableHeaderColumns in tableHeaderRawColumns:
            
            tableHeader = tableHeader +' '+ tableHeaderColumns.text
            
    tableHeader = clearString(tableHeader)
    
    tableHeaderData.append(tableHeader)

In [ ]:
tableHeaderData